.invisible {
  display: none;
}
.visible {
  display: block;
}
/* Fixed Footer */
footer{
  position:fixed;
  bottom:0;
}
.botton-offset-footer{
  height: 12vh;
}
.mobile-bottom-bar {
  width: 100%;
  height: 4.3rem;
  background: #fdfdfd;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -10px 17px 0px #43434373;
    -moz-box-shadow: 0px -10px 17px 0px #43434373;
    box-shadow: 0px -10px 17px 0px #43434373;
}

.mobile-bottom-bar .footer-link {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  color: #f76e71;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
  opacity: 0.8;
  margin-right: 0.625rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
  color: #911f47;
}

.mobile-bottom-bar .footer-text {
  position: relative;
  top: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 0.85em;
  color: #6c6c6c;
}


/* Card Post Style */
.card {
  padding: 1em 0.8em 1.5em 0.8em;
  margin: 10px;
  border-radius: 30px;
  border: solid 1px;
  box-shadow: 0px 0px 12px 0px #43434385;
  border-color: #00000014;
}
/* Button styles */
.button{
  border-radius: 20px;
  margin-top: 1em;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
/* Profile picture */
.profile-pic{
  height: 12%; 
  width: 12%;
}
/* Username text */
.user-name{
  padding-left: 4%;
  font-weight: 500;
  font-family: Montserrat;
  color: #6f6f6f;
}
/* Post text */
.post-text{
  font-weight: 300;
  font-family: Montserrat;
  color: #6f6f6f;
  font-size: 0.9em;
  padding: 0% 1% 1% 1%;
}
/* See more (three points) */
.see-more{
  padding-left: 8%;
  color: #818181;
}
/*Tabs Style*/
.tabs-panel {
  padding: 0rem;
}
.tabs-content {
  border: none;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: transparent;
  color: #fb7f8d;
  font-size: 1em;
  font-family: Montserrat;
  text-align: center;
  border-bottom: solid 5px #fb7f8d;
}
.tabs-title > a {
  display: block;
  padding: 1.25rem 1.5rem;
  line-height: 1;
  background: transparent;
  color: #bdbdbd;
  font-size: 1em;
  font-family: Montserrat;
  text-align: center;
}
.tabs-title > a:hover {
  background: #fefefe;
  color: #f64b4b;
}

/*Mobile menu*/
.title-bar {
  height: 50px;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  display: block;
}
